<section class="three" id="three">
  <div class="card">
    <img class="lemon lemon1" src="../../../../assets/image/lemon.webp" alt="" />
    <img id="cocacola" src="../../../../assets/image/cocacola.png" alt="" />
    <h1>CocaCola</h1>
    <button type="button" (click)="addProduct({id:'1', name: 'cocacola'})">Buy Now</button>
  </div>
  <div class="card">
    <h1>Fanta</h1>
    <button type="button" (click)="addProduct({id:'2', name: 'fanta'})">Buy Now</button>
  </div>
  <div class="card">
    <img class="lemon lemon2" src="../../../../assets/image/lemon.webp" alt="" />
    <img id="pepsi" src="../../../../assets/image/pepsi.png" alt="" />
    <h1>Pepsi</h1>
    <button type="button" (click)="addProduct({id:'3', name: 'pepsi'})">Buy Now</button>
  </div>
</section>
