<section class="three" id="three">
  <div class="card">
    <img class="lemon lemon1" src="../../../../assets/image/lemon.webp" alt="lemon" />
    <img id="cocacola" src="../../../../assets/image/cocacola.png" alt="cocacola" />
    <h1>CocaCola</h1>
    <button type="button" (click)="addProduct({id:'1', name: 'cocacola', image: '/assets/image/cocacola.png', price:2})">Buy Now</button>
  </div>
  <div class="card">
    <h1>Fanta</h1>
    <button type="button" (click)="addProduct({id:'2', name: 'fanta', image: '/assets/image/pepsi.png', price:2.50})">Buy Now</button>
  </div>
  <div class="card">
    <img class="lemon lemon2" src="../../../../assets/image/lemon.webp" alt="pepsi"/>
    <img id="pepsi" src="../../../../assets/image/pepsi.png" alt="" />
    <h1>Pepsi</h1>
    <button type="button" (click)="addProduct({id:'3', name: 'pepsi', image: '/assets/image/pepsi.png', price:1.5})">Buy Now</button>
  </div>
</section>
