<footer class="footer" id="our">
  <div class="footer-container">
    <div class="location">
      <figure><img src="../../../../assets/image/coca-cola-logo.png" alt="" loading="lazy"></figure>
      <p>
        © 2024 The Coca‑Cola Company. Todos los derechos reservados.
      </p>
      <p><mat-icon> place</mat-icon>Colombia</p>
    </div>

    <div class="leyend">
      <p>
        Inspired on: <a href="https://github.com/thesiyhbrand/fanta" target="_blank">Thesiyhbrand</a>
      </p>
    </div>
  </div>
</footer>
<!-- https://www.coca-cola.com/es/es/brands/fanta -->
