<footer class="footer" id="our">
  <div class="footer-container">
    <div class="location">
      <figure><img src="../../../../assets/image/coca-cola-logo.png" alt="" loading="lazy"></figure>
      <button><mat-icon> place</mat-icon>Colombia</button>
    </div>
    <div class="information">
      <div class="resume">
        <div class="resume-left">
          <h3>¿Quienes somos?</h3>
          <a href="">Nuestra empresa</a>
          <a href="">Centro multimedia</a>
          <a href="">Nuestra historia</a>
          <a href="">Carreras</a>
        </div>
        <div class="resume-center">
          <h3>¿Necesitas ayuda?</h3>
          <a href="">Preguntas frecuentes</a>
          <a href="">Mapa del sitio</a>
          <a href="">Contactate con nosotros</a>
        </div>
        <div class="resume-right">
          <h3 class="d-opacity-cero">{{'Condiciones'}}</h3>
          <a href="">Condiciones de uso</a>
          <a href="">Politicas de privacidad</a>
          <a href="">Configuración de cookies</a>
          <a href="">Politica de cookies</a>
        </div>
      </div>
      <div class="social-media">
        <div class="social">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-x-twitter"></i></a>
          <a href=""><i class="fa-brands fa-square-youtube"></i></a>
          <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="leyend">
      <p>
        © 2024 The Coca‑Cola Company. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
<!-- https://www.coca-cola.com/es/es/brands/fanta -->
