<header class="header">
  <nav class="header__nav nav">
    <a (click)="goto('one')" class="nav__a--logo logo"><img src="../../../assets/image/coca-cola-logo.png" alt="Logo" loading="lazy"></a>
    <div class="cntr-nav nav--controls">
      <a (click)="goto('promotional')">Promotional</a>
      <a (click)="goto('one')">Home</a>
      <a (click)="goto('two')">Products</a>
      <a (click)="goto('three')">Shop</a>
      <a (click)="goto('our')">Contact</a>
    </div>
    <!-- <i class="ri-menu-fill"></i> -->
    <i class="header__i"
      (click)="isOpen = !isOpen"
      type="button"
      cdkOverlayOrigin
      #cartOverlay="cdkOverlayOrigin"
    >
      <span class="header__span">{{countProduct}}</span>
      <mat-icon>add_shopping_cart</mat-icon>
    </i>
  </nav>
</header>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="cartOverlay"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <div class="header__cart cart">
    <table className="cart__table">
      <thead class="cart__thead">
        <tr class="cart__tr cart__tr--head">
          <th class="cart__th">Imagen</th>
          <th class="cart__th">Nombre</th>
          <th class="cart__th">Precio</th>
          <th class="cart__th">Cantidad</th>
          <th class="cart__th"></th>
        </tr>
      </thead>
      <tbody class="cart__body">
        <tr *ngFor="let product of products" class="cart__tr cart__tr--body">
          <td class="cart__td cart__td--img">
            <img [src]="product.image" [alt]="product.name">
          </td>
          <td class="cart__td">
            {{product.name | uppercase}}
          </td>
          <td class="cart__td">
            {{product.price}}
          </td>
          <td class="cart__td cart__td--quantity">
            <button class="cart__button cart__button--add" type="button" (click)="decrementQuantity(product.id)">
              <p>-</p>
            </button>
            {{product.quantity}}
            <button class="cart__button cart__button--add" type="button" (click)="incrementQuantity(product.id)">
              <p>+</p>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
    <p *ngIf="totalPrice > 0">Total: ${{totalPrice}}</p>
    <button class="cart__button cart__button--black" type="button" (click)="removeAllProducts()">
      <p>Delete all</p>
    </button>

  </div>

</ng-template>
